:root { 
--cyan_A400:#08e8de; 
--gray_50_01:#f9f9fb; 
--deep_orange_50:#ffe8e8; 
--blue_gray_50:#edeef0; 
--gray_50_bf:#f9f9fbbf; 
--red_800:#c62a2f; 
--red_300:#ec6a5e; 
--red_400:#ce5347; 
--gray_800_01:#3c3f44; 
--green_600:#299764; 
--green_500:#58a942; 
--gray_50:#fcfcfd; 
--light_blue_900:#00579f; 
--green_400:#64c554; 
--blue_gray_200_01:#adb1b8; 
--gray_50_3f:#f9f9fb3f; 
--yellow_A400:#fff000; 
--black_900:#000000; 
--yellow_800:#faa61a; 
--purple_A100:#ff7df3; 
--red_A700:#ed0006; 
--gray_700:#606367; 
--gray_400:#babcbe; 
--blue_gray_200:#b9bbc6; 
--orange_A200:#d6a243; 
--blue_gray_100:#d3d4db; 
--blue_gray_400:#7e808a; 
--gray_800:#3d4043; 
--orange_A700:#ff5e00; 
--red_A200:#ff4b52; 
--gray_900:#202124; 
--gray_900_01:#1c2024; 
--amber_700:#f9a000; 
--green_50:#e9f9ee; 
--orange_400:#ffaa1d; 
--gray_300:#dfe1e5; 
--orange_300:#f5bf4f; 
--gray_300_02:#e4e4e9; 
--gray_300_01:#dddde3; 
--gray_100:#f1f3f4; 
--gray_50_8c:#f9f9fb8c; 
--blue_gray_400_02:#7d828a; 
--blue_gray_400_01:#8b8d98; 
--white_A700:#ffffff; 
--indigo_500:#3a5ccc; 
--gray_700_01:#60646c; 
}